body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #111111;
  color: white;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #252525;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid rgb(185, 185, 185);
}
#currentDay {
  color: white;
  font-size: 2rem;
}

.description{
  background: transparent;
  white-space: pre-wrap;
  
}

.time-block{
  text-align: center;
  border-radius: 1rem;
  margin: .2rem 0;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  text-align: center;
  font-size: 1.7rem;
  padding: 1rem;
  background-color: #d0d8db;
  color: #000000;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.past {
  background-color: #3d3d3d;
  color: white;
}

.present {
  background-color: #532623;
  color: white;
}

.future {
  background-color: #284628;
  color: white;
}

.saveBtn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgb(1, 90, 98);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#saveLogo {
  height: 2rem;
  width: 2rem;
}